<%- contentFor('HeaderCss') %>
    <!-- perticular page css -->


    <%- contentFor('body') %>
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Profile</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">Dashboard</a></li>
                                <li class="breadcrumb-item active">Admin Profile</li>
                            </ol>

                        </div>
                    </div>
                </div>
                <!-- end row -->
                <div class="row">
                    <!-- Right Sidebar -->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="media m-b-30">
                                    <img class="d-flex mr-3 rounded-circle thumb-md"
                                        src="public/assets/images/mealmonkey1.png" alt="Admin Image">
                                    <div class="media-body">
                                        <h2 class="text-3xl ...">Humberto D. Champion</h2>
                                        <h4 class="text-3xl ...">support@domain.com</h4>
                                    </div>
                                </div>
                                <h4 class="mt-0 font-16">This Week's Top Stories</h4>
                                <p>Dear Lorem Ipsum,</p>
                                <p>Praesent dui ex, dapibus eget mauris ut, finibus vestibulum enim. Quisque arcu
                                    leo, facilisis in fringilla id, luctus in tortor. Nunc vestibulum est quis orci
                                    varius viverra. Curabitur dictum volutpat massa vulputate molestie. In at felis
                                    ac velit maximus
                                    convallis.</p>
                                <p>Sed elementum turpis eu lorem interdum, sed porttitor eros commodo. Nam eu
                                    venenatis tortor, id lacinia diam. Sed aliquam in dui et porta. Sed bibendum
                                    orci non tincidunt ultrices. Vivamus fringilla, mi lacinia dapibus condimentum,
                                    ipsum urna lacinia
                                    lacus, vel tincidunt mi nibh sit amet lorem.</p>
                            </div>
                        </div> <!-- end Col-9 -->
                    </div>
                </div><!-- End row -->
            </div> <!-- container-fluid -->

        </div> <!-- content -->

        <%- contentFor('FooterJs') %>